/********** Base styles **********/
* {
  box-sizing: border-box;
}
h1 {
  /*margin-bottom: 15px;*/
  text-align: center;
  font-family: Helvetica;
}

.rel {
  padding: 10px;
  position: relative;

}

.cont {
padding:0px;
/*position: relative;*/
border: 1px solid black;
background-color: #999999;
height: 180px;
/*max-height: 200px;
min-height: 100px;
overflow: auto;*/
}


p {
  position:relative;
  top:45px;
  left:0px;

  width: 100%;
  /*height: 100px;*/
  /*margin-right: auto;
  margin-left: auto;*/
  font-family: Helvetica;
  color: black;
  padding:5px;
  margin:0px;

  clear:both;

}

/* Simple Responsive Framework. */
.row {
  width: 100%;
  /*position: relative;
  padding:0px;*/
}

.tr1, .tr2, .tr3{
  position:absolute;
  top:10px;
  right:10px;
  /*float:right;*/
  color: white;
  background-color: #707070;
  padding:10px;
  margin:0px;
  width: 100px;
  heigth: 40px;
  border: 1px solid black;
  font-family: Helvetica;
  text-align: center;
}

.tr1 {
  color: white;
  background-color: #107070;
}

.tr2 {
  color: black;
  background-color: #407010;
}

.tr3 {
  color: white;
  background-color: #701010;
}


/********** Large devices only **********/
@media (min-width: 992px) {
  .col-lg-1, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-10, .col-lg-11, .col-lg-12 {
    float: left;
    /*padding: 10px;
    position: relative;*/
    /*margin:10px;*/

    /*border: 1px solid green;*/
  }
  .col-lg-1 {
    width: 8.33%;
  }
  .col-lg-2 {
    width: 16.66%;
  }
  .col-lg-3 {
    width: 25%;
  }
  .col-lg-4 {
    width: 33.33%;
  }
  .col-lg-5 {
    width: 41.66%;
  }
  .col-lg-6 {
    width: 50%;
  }
  .col-lg-7 {
    width: 58.33%;
  }
  .col-lg-8 {
    width: 66.66%;
  }
  .col-lg-9 {
    width: 74.99%;
  }
  .col-lg-10 {
    width: 83.33%;
  }
  .col-lg-11 {
    width: 91.66%;
  }
  .col-lg-12 {
    width: 100%;
  }
}

/********** Medium devices only **********/
@media (min-width: 768px) and (max-width: 991px) {
  .col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12 {
    float: left;
    /*padding: 10px;
    position: relative;*/
    /*margin:10px;*/

    /*border: 1px solid green;*/
  }
  .col-md-1 {
    width: 8.33%;
  }
  .col-md-2 {
    width: 16.66%;
  }
  .col-md-3 {
    width: 25%;
  }
  .col-md-4 {
    width: 33.33%;
  }
  .col-md-5 {
    width: 41.66%;
  }
  .col-md-6 {
    width: 50%;
  }
  .col-md-7 {
    width: 58.33%;
  }
  .col-md-8 {
    width: 66.66%;
  }
  .col-md-9 {
    width: 74.99%;
  }
  .col-md-10 {
    width: 83.33%;
  }
  .col-md-11 {
    width: 91.66%;
  }
  .col-md-12 {
    width: 100%;
  }
}
